//- layout.pug
doctype html
html(ng-app="netStatsApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title {{ $root.networkName }} Network Status
    style(type="text/css") [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    link(rel='stylesheet', href='/css/netstats.min.css')
    meta(name='robots', content='index,follow')
    meta(name='googlebot', content='index,follow')
    link(rel='shortcut icon', type="image/x-icon", href="{{$root.faviconPath}}")
  body
    block content
    script(src="/js/config.js")
    script(src="/js/netstats.min.js")
